:root {
    --primary-bg: #fafafa;
    --one-third-bg: #c9ead0;
    --two-thirds-bg: #e0e8b6;
    --almost-bg: #e6c695;
    --text-color: #000;
    --link-color: #0c4fa1;
    --link-hover-color: #03a003;
    --header-color: #c6e3f3;
    --button-shadow: #999;
    --button-magenta: #b23681;
    --button-magenta-hover: #e86198;
    --button-magenta-disabled: #d8c3d0;
    --button-purple: #726bd3;
    --button-purple-hover: #837ce7;
    --button-orange: #c27120;
    --button-orange-hover: #dc862f;
    --button-red: #cf1a1a;
    --button-red-hover: #e23737;
    --div-button-active-color: #d7d7d7;
    --div-button-hover-color: #f1f1f1;
    --div-button-active-hover-color: #cdcdcd;
    --unselected-color: rgba(0,0,0,0.15);
    --plus-color: #fa2909;
    --minus-color: #afaf20;
    --multiply-color: #1086e7;
    --divide-color: #54b500;
    --gauge-bg: #dadada;
    --active-gauge: #1c9ddd;
    --math-box-bg: #fff;
    --math-box-border: #a9a9a9;
    --math-box-focus-border: #5473da;
    --math-box-focus-border-shadow: #5198e0;
    --math-box-focus-green-border: #45b56d;
    --math-box-focus-green-border-shadow: #51e07d;
    --math-box-wrong: #facfcf;
    --encouragement-bg: #d0ebfb;
    --silver: #c0c0c0;
    --gold: #e2e239;
    --home-button: #006680;
    --onboarding-shadow: rgba(0,0,0,0.3);
}

[data-theme="dark"] {
    --primary-bg: #131414;
    --one-third-bg: #181f19;
    --two-thirds-bg: #212413;
    --almost-bg: #271d0f;
    --text-color: #dadada;
    --link-color: #78adec;
    --link-hover-color: #1bbb1b;
    --header-color: #012031;
    --button-shadow: #333;
    --button-magenta: #881359;
    --button-magenta-hover: #a12c5d;
    --button-magenta-disabled: #251620;
    --button-purple: #231f58;
    --button-purple-hover: #2d296b;
    --button-orange: #96510c;
    --button-orange-hover: #af651a;
    --button-red: #9a1111;
    --button-red-hover: #c51818;
    --div-button-active-color: #333;
    --div-button-hover-color: #1a1a1a;
    --div-button-active-hover-color: #3b3b3b;
    --unselected-color: rgba(251,251,251,0.15);
    --plus-color: #fc6e58;
    --minus-color: #ffe57d;
    --multiply-color: #60b0f4;
    --divide-color: #6eec00;
    --gauge-bg: #363636;
    --active-gauge: #1b75a1;
    --math-box-bg: #191919;
    --math-box-border: #363636;
    --math-box-focus-border: #3e56a7;
    --math-box-focus-border-shadow: #396da1;
    --math-box-focus-green-border: #2f864e;
    --math-box-focus-green-border-shadow: #3daf5f;
    --math-box-wrong: #3a1c1c;
    --encouragement-bg: #244353;
    --silver: #333;
    --gold: #5d5d15;
    --home-button: #0094b9;
    --onboarding-shadow: rgba(90, 90, 90, 0.3);
}