$transition-time: 0.12s;
$mobile-boundary: 480px;

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin on-hover {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            @content;
        }
    }
    @media not all and (hover: hover) and (pointer: fine) {
        &:active {
            @content;
        }
    }
}